# Análise do Catálogo da Netflix


**SME0221 Inferência Estatística - Cibele Russo - ICMC/USP - São Carlos SP**

Alexandre Souza - 12559506

Eduardo Zaffari Monteiro - 12559490

Lucas Ivars Cadima Ciziks - 12559472

## Introdução
Em 2021, a indústria de entretenimento audiovisual provou que conseguiu superar a pandemia do COVID-19 no que tange ao seu faturamento total. Segundo o relatório anual da Motion Picture Association (MPA), no ano passado foram arrecadados US$ 99,7 bilhões, número que supera os US$ 98,1 bilhões de 2019, ano anterior à crise sanitária. 

Da arrecadação total, 72% refere-se ao consumo de mídia digital, o equivalente a US$ 71,9 bilhões, impulsionado pelos serviços de mídia digital (serviços de *streaming* e *TV Everywhere*), que contavam com mais de 1,3 bilhão de assinaturas ativas no último ano, das quais 221,6 milhões eram da Netflix.

Em se tratando da Netflix, que hoje possui 45,2% da fatia de mercado de serviços de *streaming*, aproximadamente 17,8% de suas assinaturas são da América Latina, contra os 33,2% da EMEA, região que corresponde a Europa, Oriente Médio e África. Contudo, ainda segundo o relatório da MPA, o mercado de serviços digitais aumentou 29% nos países latino-americanos em 2021 (quando comparado a 2020), em contraste com os  21% da região comercial EMEA.

Tendo isso em vista, o objetivo deste relatório é tentar provar, por meio da análise exploratória dos dados e teste de hipóteses, que houve maior investimento em produções de origem europeia em detrimento das de origem latino-americana, explicitando a desigualdade cultural entre as duas regiões.

## Desenvolvimento

In [1]:
# Importação de Bibliotecas
import json
import pandas as pd
import numpy as np
from scipy.stats import t, shapiro, boxcox, mannwhitneyu,ttest_ind
import plotly.express as px

### Coleta e Limpeza dos dados

In [2]:
# Carregando Dados referentes ao Catálogo da Netflix
netflix_raw = pd.read_csv('https://raw.githubusercontent.com/Cizika/netflix-analysis/main/netflix_titles.csv', index_col=0)
netflix_raw.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
# Lista de Países Europeus
european_list = ["Albania","Andorra","Åland","Austria","Belarus","Belgium",
                 "Bosnia and Herzegovina","Bulgaria","Croatia","Cyprus",
                 "Czech Republic","Denmark","Estonia",
                 "Finland","France","Germany","Gibraltar","Greece",
                 "Hungary","Iceland","Ireland", "Italy","Jersey","Latvia",
                 "Liechtenstein","Lithuania","Luxembourg","Macedonia","Malta",
                 "Moldova","Monaco","Montenegro","Netherlands","Norway","Poland",
                 "Portugal","Romania", "Russia","Serbia","Spain","Sweden",
                 "Switzerland","Slovakia","Slovenia","Ukraine","United Kingdom"]

In [4]:
# Lista de Países Latinos
latin_list = ["Costa Rica","Cuba","Haiti","Panama","Saint Bartélemy","El Salvador",
              "Saint Martin","Argentina","Belize","Bolivia","Brazil","Chile",
              "Colombia","Ecuador","Dominican Republic","Guatemala","Honduras",
              "Mexico","Nicaragua","Paraguay","Peru","Puerto Rico","Uruguay",
              "Venezuela"]

In [5]:
# Excluíndo valores nulos e vazios dos dados
netflix_df = netflix_raw[["country","date_added"]].dropna()

# Tratando a data de adição do filme ao catálogo somento pelo seu ano
netflix_df["date_added"] = netflix_df["date_added"].apply(lambda x: int(x.split(", ")[1]))

# Exibindo dados originais
netflix_df

                                                   country  date_added
show_id
s1                                           United States        2021
s2                                            South Africa        2021
s5                                                   India        2021
s8       United States, Ghana, Burkina Faso, United Kin...        2021
s9                                          United Kingdom        2021
...                                                    ...         ...
s8802                         United Arab Emirates, Jordan        2016
s8803                                        United States        2019
s8805                                        United States        2019
s8806                                        United States        2020
s8807                                                India        2019

[7967 rows x 2 columns]

### Coletando Amostra

In [6]:
# Coletando amostra dos filmes adicionados em 2021
amostra_raw = netflix_df[netflix_df["date_added"] == 2021].copy()

# Individualizando país por linha (Tratando filmes com mais de um país de origem)
amostra_raw = amostra_raw.assign(country=amostra_raw["country"].str.split(", ")).explode("country")

# Exibindo amostra raw
amostra_raw

               country  date_added
show_id
s1       United States        2021
s2        South Africa        2021
s5               India        2021
s8       United States        2021
s8               Ghana        2021
...                ...         ...
s8321           Sweden        2021
s8321           Norway        2021
s8435    United States        2021
s8438    United States        2021
s8462    United States        2021

[1472 rows x 2 columns]

In [7]:
# A amostra será o Número de Filmes por País
amostra = amostra_raw.groupby("country").size().to_frame()

# Excluíndo valores vazios da amostra
amostra.drop("", inplace=True)

# Renomeando Colunas da Amostra
amostra.reset_index(inplace=True)
amostra.rename(columns={"country":"País", 0: "Número de Filmes" }, inplace=True)

# Exibindo amostra
amostra

               País  Número de Filmes
0           Algeria                 1
1         Argentina                12
2         Australia                24
3           Austria                 1
4        Bangladesh                 1
..              ...               ...
67  United Kingdom,                 1
68    United States               627
69          Uruguay                 2
70        Venezuela                 1
71          Vietnam                 2

[72 rows x 2 columns]

In [8]:
# Dicotomizando Amostra por Variável Qualitativa Binária "Região"
# As Regiões de análise serão somente América Latina e Europa

def somente_europa_latinos(row):
  if row["País"] in latin_list:
    return "América Latina"
  elif row["País"] in european_list:
    return "Europa"

# Filtrando apenas por países Europeus e Latinos
amostra["Região"] = amostra.apply(somente_europa_latinos, axis=1)
amostra.dropna(inplace=True)

# Exibindo Amostra com Variável Quantitativa (Número de Filmes)
# E Variável Qualitativa Binária (Região)
amostra.set_index(["Região", "País"]).sort_index(level=0)

                               Número de Filmes
Região         País
América Latina Argentina                     12
               Brazil                        11
               Chile                          2
               Colombia                       9
               Mexico                        21
               Uruguay                        2
               Venezuela                      1
Europa         Austria                        1
               Belgium                        9
               Bulgaria                       2
               Czech Republic                 4
               Denmark                        5
               Finland                        2
               France                        60
               Germany                       40
               Greece                         1
               Hungary                        3
               Iceland                        1
               Ireland                        5
               Italy                         16
               Luxembourg                     1
               Netherlands                    5
               Norway                         3
               Poland                         6
               Portugal                       2
               Romania                        5
               Russia                         4
               Spain                         33
               Sweden                         4
               Switzerland                    3
               United Kingdom               119

### Análise Exploratória dos Dados

In [9]:
# Análise Descritiva dos Latinos
amostra[amostra["Região"] == "América Latina"].describe()

       Número de Filmes
count          7.000000
mean           8.285714
std            7.250616
min            1.000000
25%            2.000000
50%            9.000000
75%           11.500000
max           21.000000

In [10]:
# Análise Descritiva dos Europeus
amostra[amostra["Região"] == "Europa"].describe()

       Número de Filmes
count         24.000000
mean          13.916667
std           26.675044
min            1.000000
25%            2.000000
50%            4.000000
75%            6.750000
max          119.000000

In [11]:
# Esboçando Boxplot com dados da Amostra dicotomizada
boxplot = px.box(amostra, x='Região', y= 'Número de Filmes', color="Região")
boxplot.show()

In [12]:
# Plotando Histograma com dados da Amostra dicotomizada
histograma = px.histogram(amostra, x='Número de Filmes', nbins=50, color="Região")
histograma.show()

### Teste de Normalidade

#### Teste de Shapiro-Wilk

In [13]:
# Função para verificar normalidade de uma amostra
def verificar_normalidade(amostra):
  shapiro_stats, p_valor = shapiro(amostra)

  print(f"Valor p encontrado: {p_valor}")

  if p_valor < 0.05:
    print("Portanto, há evidências para recusar a normalidade, segundo o Teste de Shapiro-Wilk")
  else:
    print("Portanto, não há evidências para recusar a normalidade, segundo o Teste de Shapiro-Wilk")

In [14]:
# Verificando normalidade da amostra original
verificar_normalidade(amostra["Número de Filmes"])

Valor p encontrado: 5.8314886253185705e-09
Portanto, há evidências para recusar a normalidade, segundo o Teste de Shapiro-Wilk

#### Normalizando os dados através de Box-Cox

In [15]:
# Aplicando boxcox sobre a amostra
amostra_normalizada, lam = boxcox(amostra["Número de Filmes"])

# Verificando normalidade da nova amostra
verificar_normalidade(amostra_normalizada)

Valor p encontrado: 0.2368444800376892
Portanto, não há evidências para recusar a normalidade, segundo o Teste de Shapiro-Wilk

In [16]:
# Armazenando valores normalizados na amostra
amostra["Número de Filmes Normalizado"] = amostra_normalizada

# Exibindo Amostra preparada para o Teste de Hipóteses
amostra.set_index(["Região", "País"]).sort_index(level=0)

                               Número de Filmes  Número de Filmes Normalizado
Região         País
América Latina Argentina                     12                      1.834409
               Brazil                        11                      1.788064
               Chile                          2                      0.634699
               Colombia                       9                      1.677128
               Mexico                        21                      2.108856
               Uruguay                        2                      0.634699
               Venezuela                      1                      0.000000
Europa         Austria                        1                      0.000000
               Belgium                        9                      1.677128
               Bulgaria                       2                      0.634699
               Czech Republic                 4                      1.165454
               Denmark                        5                      1.317088
               Finland                        2                      0.634699
               France                        60                      2.528090
               Germany                       40                      2.379475
               Greece                         1                      0.000000
               Hungary                        3                      0.956628
               Iceland                        1                      0.000000
               Ireland                        5                      1.317088
               Italy                         16                      1.980438
               Luxembourg                     1                      0.000000
               Netherlands                    5                      1.317088
               Norway                         3                      0.956628
               Poland                         6                      1.434662
               Portugal                       2                      0.634699
               Romania                        5                      1.317088
               Russia                         4                      1.165454
               Spain                         33                      2.303338
               Sweden                         4                      1.165454
               Switzerland                    3                      0.956628
               United Kingdom               119                      2.746334

In [18]:
amostra[amostra["Região"] == "América Latina"]

         País  Número de Filmes          Região  Número de Filmes Normalizado
1   Argentina                12  América Latina                      1.834409
6      Brazil                11  América Latina                      1.788064
13      Chile                 2  América Latina                      0.634699
15   Colombia                 9  América Latina                      1.677128
41     Mexico                21  América Latina                      2.108856
69    Uruguay                 2  América Latina                      0.634699
70  Venezuela                 1  América Latina                      0.000000

#### Teste de Mann-Whitney-u

In [20]:
mannwhitneyu(amostra[amostra["Região"] == "América Latina"]["Número de Filmes"],
             amostra[amostra["Região"] == "Europa"]["Número de Filmes"], alternative='two-sided')

MannwhitneyuResult(statistic=89.5, pvalue=0.8121561043505766)

### Teste para Comparação de Médias entre Duas Populações Independentes

Definindo as seguintes Variáveis Aleatórias para realizar os Teste:

$L: $ Número de filmes produzidos por países latinos no catálogo da Netflix;

$E: $ Número de filmes produzidos por países europeus no catálogo da Netflix.

Considerando a **média populacional** de filmes produzidos por país latino como $\mu_L$ e a **média populacional** de filmes produzidos por país europeu como $\mu_E$. Para a comparação das médias, define-se a estatística $\overline{D}$ tal que:

$$\overline{D} = \overline{L} - \overline{E} \sim N\left(\mu_D = \mu_L - \mu_E, \sigma^2_D = \frac{\sigma^2_L}{n_L} + \frac{\sigma^2_E}{n_E} \right)$$

Assim, considera-se o seguinte teste de hipóteses:

*   $H_0: \mu_D = 0$ contra
*   $H_1: \mu_D \neq 0$

In [21]:
# Coletando amostra Latina Normalizada
amostra_latinos = amostra[amostra["Região"] == "América Latina"]

# Coletando amostra Europeia Normalizada
amostra_europeus = amostra[amostra["Região"] == "Europa"]

In [34]:
# Calculando o tamanho da amostra da América Latina
n_latinos = amostra_latinos["Número de Filmes Normalizado"].count()

# Calculando o tamanho da amostra da Europa
n_europeus = amostra_europeus["Número de Filmes Normalizado"].count()

In [35]:
# Calculando a média de filmes por País da América Latina
mean_latinos = amostra_latinos["Número de Filmes Normalizado"].mean()

print(f"Em 2021, cada país latino produziu, em média, {mean_latinos} filmes.")

# Calculando a média de filmes por País da Europa
mean_europa = amostra_europeus["Número de Filmes Normalizado"].mean()

print(f"Em 2021, cada país europeu produziu, em média, {mean_europa} filmes.")

Em 2021, cada país latino produziu, em média, 1.2396935533471332 filmes.
Em 2021, cada país europeu produziu, em média, 1.191173362345337 filmes.

In [36]:
# Calculando Variância Amostral dos Latinos
var_latinos = amostra_latinos["Número de Filmes Normalizado"].var()

print(f"Em 2021, a variância amostral encontrada para os países latinos foi {var_latinos}.")

# Calculando Variância Amostral dos Europeus
var_europeus = amostra_europeus["Número de Filmes Normalizado"].var()

print(f"Em 2021, a variância amostral encontrada para os países europeus foi {var_europeus}.")

Em 2021, a variância amostral encontrada para os países latinos foi 0.6450111318469602.
Em 2021, a variância amostral encontrada para os países europeus foi 0.6351402598422327.

In [37]:
# Calculando o nu de graus de liberdade para a t-student
var_latinos_divisao = var_latinos/ n_latinos
var_europeus_divisao = var_europeus/ n_europeus

nu = (var_latinos_divisao + var_europeus_divisao) / (var_latinos_divisao**2 / (n_latinos - 1) + (var_europeus_divisao**2 / (n_europeus - 1)))

In [38]:
# Calculando os pontos críticos da Região Crítica
tc_1 = t.ppf(0.025, nu)
tc_2 = t.ppf(0.975, nu)
                             
print(f"RC = {{t < {np.round(tc_1,2)} ou t > {np.round(tc_2,2)} }}")

RC = {t < -1.99 ou t > 1.99 }

In [39]:
# Calculando estatística T observada
D_barra = mean_latinos - mean_europa
mi_D = 0 # Sob Hipótese nula

T_obs = (D_barra - mi_D) / np.sqrt(var_latinos_divisao + var_europeus_divisao)

print(f"A Estatística T observada com a amostra foi {T_obs}.")

A Estatística T observada com a amostra foi 0.1408848734997096.

In [42]:
# Verificando se a estatística T observada está na Região Crítica
if (T_obs > tc_2 or T_obs < tc_1):
  print ('Rejeitamos H0, isto é, há evidências de que a média de produção dos dois continentes é diferente')
else: 
  print('Não rejeitamos H0, ou seja, há evidências de que média de produção de filmes dos dois continentes é a mesma.')

Não rejeitamos H0, ou seja, há evidências de que média de produção de filmes dos dois continentes é a mesma.

In [43]:
# Calculando o valor P
t_stats, pvalue = ttest_ind(amostra_latinos["Número de Filmes Normalizado"], amostra_europeus["Número de Filmes Normalizado"])

print(f"O valor p encontrado foi de {pvalue}, o que confirma que não podemos rejeitar H0.")

O valor p encontrado foi de 0.8884513425902842, o que confirma que não podemos rejeitar H0.

## Conclusão

Portanto,

## Referências Bibliográficas

Coloca ai Alexandre